<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Grid - Flex</title>
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&family=Poppins:wght@400;500;700&display=swap">

    <link rel="stylesheet" href="./landing.css">
</head>

<body>

    <nav>
        <h2 class="logo">pygod-demo</h2>
        <ul class="menu-items">
            <li>link1</li>
            <li>link2</li>
            <li>link3</li>
            <li>link4</li>
        </ul>

        <ul class="cta-btns">
            <li>Login</li>
            <li>Register</li>
        </ul>
    </nav>


    <main>

        <section id="text-side">
            <h1>Rate <br> your network</h1>
            <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                Sit ad sapiente placeat culpa id mollitia deleniti delectus
                fugiat provident asperiores.
            </p>
            <button>learn more</button>
            <div class="clients-logos">
                <img src="../images/client-meet.png">
                <img src="../images/client-databiz.png">
                <img src="../images/client-maker.png">
                <img src="../images/client-audiophile.png">
            </div>
        </section>
        <section class="img-side"></section>

    </main>

</body>

</html>