<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./saple1.css">
    <link rel="stylesheet"
        href="
        https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&family=Poppins:wght@400;500;700&display=swap">
</head>

<body>

    <nav>
        <h2 class="logo">pygod-demo</h2>
        <ul class="menu-items">
            <li>Features</li>
            <li>Company</li>
            <li>Careers</li>
            <li>About</li>
        </ul>
        <ul class="cta-btns">
            <li>Login</li>
            <li>Register</li>
        </ul>
    </nav>

    <main>
        <section id="text-side">
            <h1>Rate <br/>your network</h1>
            <p>
                We have provided you with resources so that you know what network to buy in which area. Find out what netwrok works best in you're area.
                Signup, Login, Rate and share.
            </p>
            <button>Learn more</button>
            <div class="clients-logos">
                <img src="./images/client-databiz.png" />
                <img src="./images/client-audiophile.png" />
                <img src="./images/client-meet.png" />
                <img src="./images/client-maker.png" />
            </div>
            
        </section>

        <section class="img-side">
            <img src="./images/image-hero-desktop.png" />
        </section>
    </main>

</body>

</html>