* {
    font-family: "Epilogue", sans-serif;
    font-size: 1rem;
}

.logo {
    font-size: 1.3rem;
}

nav,
.cta-btns,
.menu-items {
    display: flex;
    align-items: center;
}

li {
    list-style: none;

}


.menu-items, .cta-btns {
    gap: 32px;
}

nav {
    margin: 0 1.5rem 1.5rem 1.5rem;
    justify-content: space-between;
}

/* .logos-section {
    display: flex;
} */

.menu-items li,
.cta-btns li {
    font-size: 1rem;
    color: hsl(0, 0%, 41%);
}

.cta-btns li:nth-last-child(1) {
    border: 1px solid gray;
    padding: 0.2rem 0.7rem;
    border-radius: 0.3rem;
}

/* Client Logos */
.clients-logos img {
    width: 9rem;
    margin-right: 1rem;
}

.clients-logos {
    margin-top: 4rem;
}


/* Main */
main h1 {
    font-size: 3rem;
}

main p {
    font-size: 0.7rem;
    width: 18rem;
    color: hsl(0, 0%, 41%);
    line-height: 0.9rem;
}

main button {
    background-color: hsl(0, 0%, 8%);
    color: #fff;
    border: none;
    font-size: 0.7rem;
    padding: 0.6rem 1rem;
    border-radius: 0.4rem;
    margin-top: 1rem;
}

#text-side {
    margin-top: 3rem;
}

/* Hero Image */
.img-side img {
    width: 35rem;
    transform: translateX(15rem);
}


main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 70vh;
    align-items: center;
    justify-content: center;
    margin-left: 8rem;
  }